body {
	
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	color: #F5F5F5;
	background-color: #282828;
	line-height: 1.6;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	width: 100%;
	height: 100vh;

	background: url("../university project/white-grape.png") center
	no-repeat;

	height: 1020px;
	

 

}

.intro__subtitle {
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: middle;
	color: #FFCC00;
	
}

.intro__subtitle2 {
	color: white;
}


.intro__inner {
	width: 50%;
	max-width: 500px;
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: bottom;
	padding-top: 200px;
	color: #FFCC00;
	padding-top: 150px;
	
}


.header {
	padding-top: 30px;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

}

.header__logo {
	width: 30%;
	height: 80px;

	background: url("https://cdn.discordapp.com/attachments/629742219883970590/636485491906052097/footer-logo.png") left
	no-repeat;
	


}


.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	color: #FFF;
	text-decoration: none;
	transition: color .3s linear;
	position: relative;
	

}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #FFCC00;
	position: absolute;
	top: 100%
	left: 0;
	z-index: 1;
	
}

.nav__link:hover {
	color: #FFCC00;
}

.intro__inner + .intro__inner {
padding-top: 25px;
}

.text { 
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 275px;
	
}

.text_2 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 175px;
	
}

.text_3 {
 	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 555px;
	color: #FFCC00;
	
}


.text_4 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 165px;
	color: #FFCC00

}

.text_5 {	
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: -20px;
	
}

.text_6 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: -60px;
	color: #FFCC00;

}

.text_7 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	text-align: center;
	margin-left: 750px;
	margin-top: 350px;
}

.text_8 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	color: #FFCC00;
	margin-left: 750px;
	margin-top: 500px;
}

.text_9 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 800px;
	margin-top: 700px;
	text-align: center;
}

.bottle_pic_1 {

	width: 3.1%;
	height: 275px;
	margin-left: 1325px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-s.png"); right: 
	

}

.bottle_pic_2 {

	width: 3.1%;
	height: 275px;
	margin-left: 1365px;
	position: absolute;
	bottom: 260px;


	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-t.png"); right;

}

.bottle_pic_3 {

	width: 3.1%;
	height: 275px;
	margin-left: 1405px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-c.png"); right: 

}

.bottle_pic_4 {

	width: 3.1%;
	height: 275px;
	margin-left: 1445px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m.png");

}

.bottle_pic_5 {

	width: 3.1%;
	height: 275px;
	margin-left: 1485px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-r.png");

}

.bottle_pic_6 {

	width: 3.1%;
	height: 275px;
	margin-left: 1525px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-c-red.png");

}

.bottle_pic_7 {

	width: 3.1%;
	height: 275px;
	margin-left: 1565px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m-red.png");

}

.bottle_pic_8 {

	width: 3.1%;
	height: 275px;
	margin-left: 1605px;
	position: absolute;
	bottom: 260px;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m-violet.png");

}

.honor_pic {

	
	width: 4%;
	height: 120px;
	position: absolute;
	bottom: 790px;

	background: url("https://www.menada-winery.com/images/homepage/hm_label.png?v=20180612");

}

.one_grape_pic {

	width: 40%;
	height: 445px;
	position: absolute;

	background: url("https://www.menada-winery.com/images/homepage/single-white-grape.png"); left;
	z-index: 2;
}

.grapevine_pic {

	width: 55%;
	height: 600px;
	position: absolute;
	margin-left: 400px;
	margin-top: 75px;
	background: url("https://www.menada-winery.com/images/homepage/home-intro-video-bg-white-grape.jpg");	
}

.mark_pic {
	width: 3.45%;
	height: 65px;
	position: absolute;
	bottom: 720px;
	background: url("https://www.menada-winery.com/images/homepage/menadamarkW3.png");
}

.bottles_pic {
	width: 2.85%;
	height: 37px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/homepage/bottles.svg");
	margin-left: 970px;
	top: 1705px;

}

.small_grape_pic {
	width: 5%;
	height: 100px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/homepage/small-white-grape.png");
	border:1px white double;
	margin-left: 300px;
	top: 1500px;
}

.dws {
	position: absolute;
	top: 174.5%;
	left: 63.1%;

}

.butt {
	border: 3px solid #FFCC00;
	font-size: 30px;
	color: #FFCC00;
	text-decoration: none;
	width: 250px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-family: 'Aldrich', sans-serif;
	position: relative;

}

.butt:before {
	position: absolute;
	content: '';
	width: 100%
	height: 100%;
	background: #FFCC00
	top: 0;
	left: -100%;
	opacity: .5;
}
