body {
	
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	color: #F5F5F5;
	background-color: #292929;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url("../university project/white-grape.png") center
	no-repeat;

	height: 1020px;
	
	z-index: 2;
 

}

.intro__subtitle {
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: middle;
	color: #FFCC00;
	
}

.intro__subtitle2 {
	color: white;
}


.intro__inner {
	width: 50%;
	max-width: 500px;
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: bottom;
	padding-top: 200px;
	color: #FFCC00;
	padding-top: 150px;
	
}


.header {
	padding-top: 30px;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

}

.header__logo {
	width: 30%;
	height: 80px;

	background: url("https://cdn.discordapp.com/attachments/629742219883970590/636485491906052097/footer-logo.png") left
	no-repeat;
	


}


.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	color: #FFF;
	text-decoration: none;
	transition: color .3s linear;
	position: relative;
	

}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #FFCC00;
	position: absolute;
	top: 100%
	left: 0;
	z-index: 1;
	
}

.nav__link:hover {
	color: #FFCC00;
}

.intro__inner + .intro__inner {
padding-top: 25px;
}

.text { 
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 275px;
	z-index: 2;
	
}

.text_2 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 175px;
	z-index: 2;
}

.text_3 {
 	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1260px;
	bottom: 555px;
	color: #FFCC00;
	z-index: 2;
}


.text_4 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 165px;
	color: #FFCC00
	z-index: 2;
}

.text_5 {	
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1260px;
	bottom: 155px;
	z-index: 2;
}

.text_6 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1260px;
	bottom: 45px;
	color: #FFCC00;
	z-index: 2;
}

.text_7 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	text-align: center;
	margin-left: 650px;
	margin-top: 350px;
	z-index: 2;
}

.text_8 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	color: #FFCC00;
	margin-left: 650px;
	margin-top: 500px;
	z-index: 2;
}

.text_9 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 800px;
	margin-top: 700px;
	text-align: center;
	z-index: 2;

}

.text_10 { 
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	bottom: 190px;
	z-index: 2;
	
}

.text_11 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	top: 220px;
	right: 960px;
	color: #FFCC00;

}

.text_12 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	top: 220px;
	right: 230px;
	color: #FFCC00;

}

.text_13 {
	
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	right: 35%;
}

.text_14 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	top: 700px;
	right: 985px;
	color: #FFCC00;

}

.text_15 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	bottom: 2459px;
	left: 320px;
	color: #FFCC00;

}

.text_16 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	bottom: 2451.5px;
	left: 350px;
	color: #FFCC00;

}

.text_17 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	top: 650px;
	right: 830px;

}

.back_pic {
	width: 1550px;
	height: 1650px;
	position: absolute;
	bottom: 750px;
	right: -65px;
	background-color: #181818;
	z-index: 1;

}

.image_pic {
	position: relative;
	width: 1550px;
	z-index: 1;

}


.bottle_pic_1 {

	width: 3.1%;
	height: 275px;
	margin-left: 1260px;
	position: absolute;
	bottom: 260px;
	z-index: 2;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-s.png"); right: 
	

}

.bottle_pic_2 {

	width: 3.1%;
	height: 275px;
	margin-left: 1305px;
	position: absolute;
	bottom: 260px;
	z-index: 2;


	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-t.png"); right;

}

.bottle_pic_3 {

	width: 3.1%;
	height: 275px;
	margin-left: 1345px;
	position: absolute;
	bottom: 260px;
	z-index: 2;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-c.png"); right: 

}

.bottle_pic_4 {

	width: 3.1%;
	height: 275px;
	margin-left: 1385px;
	position: absolute;
	bottom: 260px;
	z-index: 2;
	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m.png");

}

.bottle_pic_5 {

	width: 3.1%;
	height: 275px;
	margin-left: 1425px;
	position: absolute;
	bottom: 260px;
	z-index: 2;
	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-r.png");

}

.bottle_pic_6 {

	width: 3.1%;
	height: 275px;
	margin-left: 1465px;
	position: absolute;
	bottom: 260px;
	z-index: 2;
	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-c-red.png");

}

.bottle_pic_7 {

	width: 3.1%;
	height: 275px;
	margin-left: 1505px;
	position: absolute;
	bottom: 260px;
	z-index: 2;

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m-red.png");

}

.bottle_pic_8 {

	width: 3.1%;
	height: 275px;
	margin-left: 1545px;
	position: absolute;
	bottom: 260px;
	z-index: 2;
	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-m-violet.png");

}

.honor_pic {

	
	width: 4%;
	height: 120px;
	position: absolute;
	bottom: 790px;

	background: url("https://www.menada-winery.com/images/homepage/hm_label.png?v=20180612");

}

.one_grape_pic {

	width: 40%;
	height: 445px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/homepage/single-white-grape.png"); left;
	z-index: 3;
}

.grapevine_pic {

	width: 55%;
	height: 600px;
	position: absolute;
	margin-left: 400px;
	margin-top: 75px;
	background: url("https://www.menada-winery.com/images/homepage/home-intro-video-bg-white-grape.jpg");
	z-index: 2;	
}

.mark_pic {
	width: 3.45%;
	height: 65px;
	position: absolute;
	bottom: 720px;
	background: url("https://www.menada-winery.com/images/homepage/menadamarkW3.png");
}

.bottles_pic {
	width: 2.85%;
	height: 37px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/homepage/bottles.svg");
	margin-left: 970px;
	top: 1705px;
	z-index: 2;

}

.video_pic {
	
	width: 305px;
	height: 240px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/posters/litlevid.jpg");
	bottom: 260px;
	right: 0px;
	z-index: 2;
	


}

.about_mg_pic {
	height: 469px;
	width: 676px;
	position: absolute;
	background: url("https://www.menada-winery.com/images/homepage/about-bg.jpg");
	top: 200px;
	right: 520px;
}

.history_mg_pic {
	height: 467px;
	width: 673px;
	position: absolute;
	top: 200px;
	left: -200px;
	background: url("https://www.menada-winery.com/images/homepage/history-bg.jpg");


}

.inovino_large_pic {
	height: 1000px; 
	width: 684px;
	position: absolute;
	top: 160px;
	right: 736px;
	background: url("https://sun9-67.userapi.com/c858036/v858036266/c55e4/EQXlwEmSMbg.jpg");

}

.inovino_bottle_pic {
	height: 715px;
	width: 192px;
	position: absolute;
	top: 305px;
	right: 982px;
	background: url("https://www.menada-winery.com/images/homepage/inovino-large-bottle-red.png");
	z-index: 2;
}

.inovine_small_pic {
	height: 142px;
	width: 362px;
	position: absolute;
	bottom: 700px;
	right: 280px;
	background: url("https://www.menada-winery.com/images/homepage/products-grid-inovino-red.jpg");

}

.dws {
	position: absolute;
	top: 173.9%;
	left: 63%;

}

.butt {
	border: 3px solid #FFCC00;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	width: 250px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-family: 'Aldrich', sans-serif;
	position: relative;
	z-index: 2;
}

.butt:hover {
	color: #FFCC00;
}

.butt:hover:before {
	left: 0;
}

.dws_2 {
	position: absolute;
	top: 1190%;
	left: 89.7%;
}

.butt_2 {
	border: 3px solid #FFCC00;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	width: 250px;
	height: 120px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-family: 'Aldrich', sans-serif;
	position: relative;
}

.butt_2:hover {
	color: #FFCC00;
}

.butt_2:hover:before {
	left: 0;
}

.dws_3 {
	position: absolute;
	top: 785%;
	right: 310%;
}

.butt_3 {
	border: 3px solid #FFCC00;
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	width: 180px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	font-family: 'Aldrich', sans-serif;
	position: relative;
}

.butt_3:hover {
	color: #FFCC00;
}

.butt_3:hover:before {
	left: 0;
}

