body {
	
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 18px;
	color: #F5F5F5;
	background-color: #282828;
	line-height: 1.6;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro {
	width: 100%;
	height: 100vh;

	background: url("../university project/white-grape.png") center
	no-repeat;

	height: 1020px;
	

 

}

.intro__subtitle {
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: middle;
	color: #FFCC00;
	
}

.intro__subtitle2 {
	color: white;
}


.intro__inner {
	width: 50%;
	max-width: 500px;
	font-family: 'Aldrich', sans-serif;
	text-align: left;
	vertical-align: bottom;
	padding-top: 200px;
	color: #FFCC00;
	padding-top: 150px;
	
}


.header {
	padding-top: 30px;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;

}

.header__logo {
	width: 30%;
	height: 80px;

	background: url("https://cdn.discordapp.com/attachments/629742219883970590/636485491906052097/footer-logo.png") left
	no-repeat;
	


}


.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	font-size: 14px;
	text-transform: uppercase;
	
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	color: #FFF;
	text-decoration: none;
	transition: color .3s linear;
	position: relative;
	

}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #FFCC00;
	position: absolute;
	top: 100%
	left: 0;
	z-index: 1;
	
}

.nav__link:hover {
	color: #FFCC00;
}

.intro__inner + .intro__inner {
padding-top: 25px;
}

.text { 
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 275px;
	
}

.text_2 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	margin-left: 200px;
	bottom: 175px;
	
}

.text_3 {
 	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 500px;
	color: #FFCC00;
	
}


.text_4 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 260px;
	color: #FFCC00;

}

.text_5 {	
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 75px;
	
}

.text_6 {
	position: absolute;
	font-family: 'Aldrich', sans-serif;
	padding-left: 1325px;
	bottom: 35px;
	color: #FFCC00;

}

.bottle_pic_1 {

	width: 3.1%;
	height: 275px;
	

	background: url("https://www.menada-winery.com/images/homepage/menada-bottle-s.png"); right: 
	

}

.bottle_pic_2 {

}

.bottle_pic_3 {

}

.bottle_pic_4 {

}

.bottle_pic_5 {

}

.bottle_pic_6 {

}

.bottle_pic_7 {

}

.bottle_pic_8 {

}






